.textinonerow{
    height: auto;  
}
.textinonerow p{
    margin:0;
    padding:0;
    margin-left: 20px;
    font-size: 15px;
    display: inline;
    line-height: 20px;
}

.textinonerow .texttwo{
    font-size:15px;
}

.background-nav{
    background: rgb(128,128,128);
    background: radial-gradient(circle, rgba(128,128,128,1) 0%, rgba(128,128,128,1) 100%);
}

.nav-link{
    color:#000;
}

.nav-link:hover{
    background-color: #2C3E50;
    color:#ffffff;

}

.hoverlink:hover{
    background-color: #2C3E50;
    color:#ffffff;

}

