<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Nabla&family=Rubik+Distressed&family=Rubik+Maze&family=Vollkorn&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <title>Gestión Ingresos y Egresos | Crear Movimiento</title>
</head>
<body>
<main>

    <div class="col-12" sec:authorize="!isAuthenticated()" style="height:48vw; background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(173,148,233,1) 100%);">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="img/money-saving.png" class="d-block mx-lg-auto img-fluid" alt="" width="300" height="300" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3" style="font-family: 'Inter', serif;">Gestión Ingresos Egresos</h1>
        <p class="lead" style="font-family: 'Nunito Sans', sans-serif;">Gestiona, administra los recursos de tu organización de una forma rápida y eficaz</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          
          <div>
            <a class="btn btn-primary" th:href="@{/oauth2/authorization/auth0}">Iniciar Sesión</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

    <div class="d-flex flex-column align-items-center px-4 py-3 my-5 text-center" sec:authorize="isAuthenticated()">
        <h1 class="display-7 fw-bold mb-3">Crear Movimiento</h1>
        <form class="d-flex flex-column gap-3" th:action="@{/minticspring_boot/movimientos/insertarMovimiento}" th:method="post" th:object="${crearmovimiento}">
            <div class="textinonerow">
                <p style="margin:0; font-family: 'Nunito Sans', sans-serif;">Concepto</p><input th:field="*{concept}" class="form-control" type="text" placeholder="Introduzca concepto"/>
            </div>
            <div class="textinonerow">
                <p style="margin:0; font-family: 'Nunito Sans', sans-serif;">Cantidad</p><input th:field="*{amount}" class="form-control" type="text" placeholder="Introduzca la cantidad"/>
            </div>
            <div class="textinonerow">
                <p style="margin:0; font-family: 'Nunito Sans', sans-serif;">Fecha de Creacion</p>
                <input type="date" th:field="*{createdAt}" class="from-control"/>
            </div>
            <div class="textinonerow">
                <p style="margin:0; font-family: 'Nunito Sans', sans-serif;">Fecha de Actualizacion</p>
                <input type="date" th:field="*{updateAt}" class="form-control"/>
            </div>

            <select th:field="*{idEmpresa}" class="form-select">
                <option th:each="itemEmpresa: ${empresas}" th:value ="${itemEmpresa.id}" th:text = "${itemEmpresa.name}"></option>
            </select>

            <select th:field="*{idEmpleado}" class="form-select">
                <option th:each="itemEmpleado: ${empleados}" th:value ="${itemEmpleado.id}" th:text = "${itemEmpleado.email}"></option>
            </select>

            <button class="btn btn-primary" type="submit"> Crear</button>
        </form>

    </div>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>